@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("https://media.newyorker.com/photos/5d236f2356aa520008c96e03/master/pass/Kim-RhodeIsland.gif");
        background-color: #cccccc;
        background-size : 100% 100%;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }
    h1 {
        background-color: rgba(34, 38, 42, 0.35);
        color: rgba(255, 255, 255, 1);
    }
</style>
<div class="text-center">
    <h1 class="display-4">PruebaPrimeStone</h1>
    <p></p>
</div>
